<script src="/static/admin/js/skins.min.js"></script>
<!--Basic Scripts-->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/admin/js/slimscroll/jquery.slimscroll.min.js"></script>
<!--Beyond Scripts-->
<script src="/static/admin/js/beyond.js"></script>
<script>
    $(window).bind("load", function () {

        /*Sets Themed Colors Based on Themes*/
        themeprimary = getThemeColorFromCss('themeprimary');
        themesecondary = getThemeColorFromCss('themesecondary');
        themethirdcolor = getThemeColorFromCss('themethirdcolor');
        themefourthcolor = getThemeColorFromCss('themefourthcolor');
        themefifthcolor = getThemeColorFromCss('themefifthcolor');

    });

    $(function () {
        $("#logout").click(function () {
            $.ajax({
                url: "{:url('admin/home/logout')}",
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000
                        }, function () {
                            location.href = data.url;
                        })
                    } else {
                        layer.open({
                            title: '退出失败',
                            icon: 5,
                            anim: 6
                        });
                    }
                }

            });
            return false;
        });

        $("#cateAdd").click(function() {
            $.ajax({
                url: "{:url('admin/cate/add')}",
                type: 'post',
                data: $('form').serialize(),
                dataType: 'json',
                success:function(data){
                    console.log(data);
                    if(data.code == 1){
                        layer.msg(data.msg,{
                                icon:6,
                                time:2000
                            },
                            function () {
                                location.href = data.url;
                            })
                    }else {
                        layer.open({
                            title:"提交失败！",
                            icon: 5,
                            content:data.msg,
                            time: 3000
                        });
                    }
                }
            });

            // $.ajax({
            //     url:"{:url('admin/cate/add1')}",
            //     type:'post',
            //     data:$('form').serialize(),
            //     dateType:'json',
            //     success:function (data) {
            //         console.log('data');
            //         if(data.code == 1){
            //
            //             layer.msg(data.msg,{
            //                 icon:6,
            //                 time:2000
            //             },function() {
            //                 location.href = data.url;
            //             })
            //         }else{
            //             layer.open({
            //                 title:"添加栏目失败",
            //                 icon:5,
            //                 content:data.msg,
            //                 anim:6
            //             })
            //         }
            //     }
            // });
            return false;
        });
    })



</script>